/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import '~jsoneditor/dist/jsoneditor.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.ace_editor.ace-jsoneditor {
  min-height: 500px;
}

// You can't upload images to stackblitz
div.jsoneditor-menu > button {
  background-image: url('https://raw.githubusercontent.com/josdejong/jsoneditor/develop/src/scss/img/jsoneditor-icons.svg');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.capitalize{
  text-transform: capitalize;
}
